main {
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}
.texto-apresentacao {
    color: var(--cor3);
    max-width: 450px;
}
.texto-apresentacao h2{
    color: #fff;
    font-size: 45px;
}
.texto-apresentacao h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.texto-apresentacao hr {
    margin: 8px 0;
}
#sobre {
    margin-bottom: 15px;
}
#img-apresentacao {
    max-width: 500px;
}
.icone {
    cursor: pointer;
    width: 15px;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.699);
    border-radius: 5px;
}
.icone:hover {
    border: 1px solid #56e6ff;
}
#curriculo {
    cursor: pointer;
    margin-left: 10px;
    width: 100px;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.699);
    border-radius: 5px;
}
#curriculo:hover {
    border: 1px solid #56e6ff;
}
@media (max-width:1012px){
    #img-apresentacao {
        max-width: 400px;
    }
}
@media (max-width:800px){
    main {
        position: relative;
        padding-top: 100px;
        flex-direction: column;
    }
    #img-apresentacao {
        position: absolute;
        max-width: 300px;
        opacity: .1;
    }
}
